/* -------------------------------- 

File#: _1_accordion
Title: Accordion
Descr: Create stacked sections of content and allow the user to expand/collapse them 

-------------------------------- */ 

:root {
  --accordion-icon-size: 1em;
  --accordion-icon-stroke-width: 2px;
}

.accordion {}

.accordion__item {
  border: 0px solid var(--color-contrast-low);
  border-bottom-width: 1px;

  &:first-child {
    border-top-width: 1px;
  }
}

.accordion__header {
  @include reset;
  padding: var(--space-sm) var(--component-padding);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-contrast-higher);

  &:hover {
    color: var(--color-primary);
  }

  &:focus {
    outline: 2px solid var(--color-primary);
  }
}

.accordion__header-title {
  font-size: var(--text-md);
  text-align: left;
}

.accordion__header-icon  {
  float: right; //flex fallback
  flex-shrink: 0;
  margin-left: var(--space-sm);
  display: none;
}

.accordion__header-icon i { // arrow icon
  position: relative;
  width: var(--accordion-icon-size);
  height: var(--accordion-icon-size);
  display: block;
  will-change: transform;

  &::before, &::after {
    content:'';
    position: absolute;
    width: var(--accordion-icon-stroke-width);
    height: 80%;
    background: currentColor;
    top: 0;
    transform-origin: 50% 100%;
    will-change: transform;
    transition: transform 0.2s;
  }

  &::before {
    left: 50%;
    transform: rotate(-45deg);
  }

  &::after {
    left: calc(50% - var(--accordion-icon-stroke-width)/2);
    transform: rotate(45deg);
  }
}

.accordion__item--is-open > .accordion__header > .accordion__header-icon i {
  &::before {
    transform: translateY(-80%) rotate(-135deg);
  }

  &::after {
    transform: translateY(-80%) rotate(135deg);
  }
}

.accordion__header-icon .icon { // replace arrow with custom icon
  width: var(--accordion-icon-size);
  height: var(--accordion-icon-size);
  color: inherit;
}

.accordion__panel-content {
  padding: var(--space-xxxs) var(--component-padding) var(--component-padding);
}

.js {
  .accordion__header-icon {
    display: block;
  }

  .accordion__panel {
    display: none;
    overflow: hidden;
    will-change: height;
    transform: translateZ(0px);
  }

  .accordion__item--is-open > .accordion__panel {
    display: block;
  }
}

// --icon-plus -> switch to +/- icons
.accordion--icon-plus {
  .accordion__header-icon i {
    height: var(--accordion-icon-stroke-width);
    background-color: currentColor;

    &::before {
      display: none;
    }

    &::after {
      left: 0;
      width: 100%;
      height: 100%;
      transform-origin: 50% 50%;
    }

    &::after {
      transform: rotate(-90deg);
    }
  }

  .accordion__item--is-open > .accordion__header > .accordion__header-icon i {
    &::after {
      transform: rotate(0deg);
    }
  }
}