@use '../base' as *;

/* -------------------------------- 

File#: _1_background-decoration
Title: Background Decoration
Descr: A collection of background effects
Usage: codyhouse.co/license

-------------------------------- */

.bg-decoration {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg-decoration__svg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 134%;
  min-width: 1280px;
  max-width: 1920px;
  height: auto;
}