/* -------------------------------- 

File#: _1_contact
Title: Contact
Descr: Contact block w/ info about how to get in touch

-------------------------------- */

.contact {}

.contact__list {
  margin-bottom: var(--space-lg);

  @include breakpoint(md) {
    @supports (grid-area: auto) {
      margin-bottom: 0;
    }
  }
}

.contact__item {
  padding: var(--space-md) 0;
  border-bottom: 1px solid var(--color-contrast-low);

  dt {
    font-size: var(--text-md);
    font-weight: bold;
    margin-bottom: var(--space-xxs);
  }

  dd {
    line-height: 1.4;
  }

  @include breakpoint(md) {
    @supports (grid-area: auto) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      dt {
        margin-bottom: 0;
      }

      dd {
        text-align: right;
      }
    }
  }
}

.contact__map {
  height: 0;
  padding-bottom: 50%; // set map height
}

@include breakpoint(md) {
  @supports (grid-area: auto) {
    .contact__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: var(--space-lg);
    }

    .contact__map {
      height: auto; // = height of .contact__list
      padding-bottom: 0;
    }
  }
}