/* -------------------------------- 

File#: _1_features
Title: Features
Descr: A section containing a list of features

-------------------------------- */

.features {}

.features__item {
  img {
    display: block;
    width: 100%;
    margin-bottom: var(--space-sm);
  }
}

// --img-sm -> set max-width for images
.features--img-sm {
  img {
    max-width: 128px;
  }
}