@use '../base' as *;

/* -------------------------------- 

File#: _1_newsletter
Title: Newsletter 
Descr: Newsletter form template
Usage: codyhouse.co/license

-------------------------------- */

.newsletter {
  position: relative;
  z-index: 1;
}