/* -------------------------------- 

File#: _1_product-card
Title: Product Card
Descr: A selection of product information used as teasers for further content

-------------------------------- */

.prod-card {
  position: relative;
}

.prod-card__img-link {
  text-decoration: none;
  display: block;

  &:hover {
    .prod-card__img {
      opacity: 0.85;
    }
  }
}

.prod-card__img { 
  transition: opacity .2s;

  img {
    display: block;
    width: 100%;
  }
}

.prod-card__badge {
  position: absolute;
  z-index: 1;
  top: var(--space-sm);
  right: var(--space-sm);
  background-color: alpha(var(--color-bg), 0.95);
  padding: var(--space-xxs) var(--space-sm);

  font-size: var(--text-xs);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--color-contrast-medium);
  font-weight: 500;
}

.prod-card__content {
  padding: var(--space-sm);
  
  a {
    color: inherit;
  }
}

.prod-card__price-wrapper {
  margin-top: var(--space-xs);
}

.prod-card__price {}

.prod-card__price--old {
  color: var(--color-accent);
  text-decoration: line-through;

  &::after {
    content: 'original price';
    @include srHide;
  }
}

.prod-card__price--new {
  text-decoration: none;

  &::after {
    content: 'discounted price';
    @include srHide;
  }
}