/* -------------------------------- 

File#: _1_radios-checkboxes
Title: Radios and Checkboxes
Descr: Custom radio and checkbox buttons

-------------------------------- */

:root {
  /* radios and checkboxes */
  --checkbox-radio-size: 1em;
  --checkbox-radio-translate-y: -0.1em; // edit to align buttons with labels

  /* radio buttons */
  --radio-marker-size: 8px;

  /* checkboxes */
  --checkbox-marker-size: 12px;
  --checkbox-radius: 3px;
}

.radio-list--custom, .checkbox-list--custom {
  input[type="radio"],
  input[type="checkbox"] {
    // hide native buttons
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    height: 0;
    width: 0;
    pointer-events: none;
  }

  input[type="radio"] + label,
  input[type="checkbox"] + label {
    display: inline-block;
  }
  
  input[type="radio"] + label::before,
  input[type="checkbox"] + label::before {
    // custom buttons basic style
    content: '';
    display: inline-block;
    vertical-align: middle;
    flex-shrink: 0;
    width: var(--checkbox-radio-size);
    height: var(--checkbox-radio-size);
    background-color: var(--color-bg);
    border: 2px solid var(--color-contrast-low);
    margin-right: var(--space-xxxs);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: var(--checkbox-radio-translate-y);
    transition: transform 0.2s;
  }
  
  input[type="radio"] + label::before {
    // radio button radius
    border-radius: 50%;
  }
  
  input[type="checkbox"] + label::before {
    // checkbox button radius
    border-radius: var(--checkbox-radius);
  }
  
  input[type="radio"]:checked + label::before,
  input[type="checkbox"]:checked + label::before {
    // checked state
    background-color: var(--color-primary);
    box-shadow: none;
    border-color: var(--color-primary);
  }
  
  input[type="radio"]:active + label::before,
  input[type="checkbox"]:active + label::before {
    // active state
    transform: scale(0.8);
  }
  
  input[type="radio"]:checked:active + label::before,
  input[type="checkbox"]:checked:active + label::before {
    transform: none;
    transition: none;
  }
  
  input[type="radio"]:checked + label::before {
    // radio button icon
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg class='nc-icon-wrapper' fill='%23ffffff'%3E%3Ccircle cx='8' cy='8' r='8' fill='%23ffffff'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
    background-size: var(--radio-marker-size);
  }
  
  input[type="checkbox"]:checked + label::before {
    // checkbox button icon
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg class='nc-icon-wrapper' stroke-width='2' fill='%23ffffff' stroke='%23ffffff'%3E%3Cpolyline fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' points='1,9 5,13 15,3 ' data-cap='butt'%3E%3C/polyline%3E%3C/g%3E%3C/svg%3E");
    background-size: var(--checkbox-marker-size);
  }

  input[type="radio"]:checked:active + label::before,
  input[type="checkbox"]:checked:active + label::before,
  input[type="radio"]:focus + label::before,
  input[type="checkbox"]:focus + label::before {
    // focus state
    border-color: var(--color-primary);
    --color-shadow: hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), 0.2); // fix iOS 12 bug
    box-shadow: 0 0 0 3px var(--color-shadow);
  }
}