/* -------------------------------- 

File#: _2_testimonials
Title: Testimonials
Descr: A gallery of testimonial cards

-------------------------------- */

.testimonials {}

.testimonials__card {
  height: 100%;
  background-color: var(--color-contrast-lower);
  padding: var(--component-padding);
  border-radius: var(--radius-md);

  footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  @include breakpoint(md) {
    display: flex;
    flex-direction: column;

    footer {
      margin-top: auto;
    }
  }
}

.testimonials__icon {
  display: block;
  width: 64px;
  height: 64px;
  color: var(--color-contrast-low);
  margin-bottom: var(--space-xxs);
}

.testimonials__quote {
  line-height: 1.4;
  margin-bottom: var(--space-md);
}

.testimonials__img {
  flex-shrink: 0;

  img {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid var(--color-bg);
  }
}

.testimonials__cite {
  font-size: var(--text-sm);

  span {
    display: block;
    color: var(--color-contrast-medium);
    margin-top: var(--space-xxxxs);
  }
}