@use '../base' as *;
@use '_1_devices.scss' as *;
@use '_2_device-group.scss' as *;

/* -------------------------------- 

File#: _3_feature-v14
Title: Feature v14
Descr: Feature content with tech devices
Usage: codyhouse.co/license

-------------------------------- */